# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# 表明是最顶层的配置文件
root = true

[*]
# 文件统一采用 UTF-8 无 BOM 编码
charset = utf-8

# 缩进方式统一使用 tab 键
indent_style = tab

# 缩进字符数为 4
indent_size = 4

# 换行符统一使用 Unix-style 0x0A（LF）
end_of_line = lf

# 文件以一个空白行结尾
insert_final_newline = true

# 自动删除行尾空格
trim_trailing_whitespace = true

[*.md]
# markdown 文件不删除行尾空格，以免导致排版错乱
trim_trailing_whitespace = false
